
/**
  * CSS file for whiteboard module
  *
  */

#whiteboard-container {
  width:880px;
  margin-top:2em;
}

/* Top row of inputs */
#edit-whiteboard-penwidth-fine {
  background: url('../img/fine.png');
}
#edit-whiteboard-penwidth-thick {
  background: url('../img/thick.png');
}
#edit-whiteboard-penwidth-blunt {
  background: url('../img/blunt.png');
}
#edit-whiteboard-black {
  background: url('../img/black.png');
}
#edit-whiteboard-red {
  background: url('../img/red.png');
}
#edit-whiteboard-blue {
  background: url('../img/blue.png');
}
#edit-whiteboard-green {
  background: url('../img/green.png');
}
#edit-whiteboard-hex {
  background: url('../img/color.png');
}
#edit-whiteboard-eraser {
  background: url('../img/eraser.png');
}

/* Side column of inputs */
#edit-whiteboard-cartecian {
  background: url('../img/cartecian.png');
}
#edit-whiteboard-show-grid {
  background: url('../img/grid.png');
}
#edit-whiteboard-show-range {
  background: url('../img/show-range.png');
}
#edit-whiteboard-hide-grid {
  background: url('../img/hide-grid.png');
}
#edit-whiteboard-hide-range {
  background: url('../img/hide-range.png');
}
#edit-whiteboard-default {
  background: url('../img/default.png');
}

#edit-whiteboard-cartecian,
#edit-whiteboard-show-grid,
#edit-whiteboard-show-range,
#edit-whiteboard-hide-grid,
#edit-whiteboard-hide-range,
#edit-whiteboard-default {
  border:none;
}

#whiteboard-container input {
  padding:10px;
  background-repeat:no-repeat;
  background-position:50% 50%;
}

#whiteboard-container input {
  padding:10px;
  background-repeat:no-repeat;
}

#whiteboard-meta,
#whiteboard-circle-container,
#whiteboard-arc-container,
#whiteboard-rectangle-container,
#whiteboard-ellipse-container {
  display:none;
}

#whiteboard-color {
  width:100%;
} 

#whiteboard-top {
  text-align:left;
  margin-bottom:7px;
  width:100%;
}

#whiteboard-top * {
  display:inline;
}

#whiteboard {
  overflow:hidden;
  position:relative;
  width:90%;
  height:400px;
  border:#CCC 1px solid;
  cursor:crosshair;
  float:left;
  display:inline;
  margin-bottom:8px;
}

#node-whiteboard-form .field--name-field-canvas,
#node-whiteboard-edit-form .field--name-field-canvas {
  display:none;
}

#mousieX, #mousieY { 
  width:70px;
  color:blue;
}

#mousieY, #mousieX {
  margin-left:0.5em;
}

#mousieX {
  margin-right:1.5em;
}

#edit-whiteboard-clear-board,
#edit-whiteboard-clear-points {
  margin-left:1.5em;
}

#edit-whiteboard-penwidth-fine,
#edit-whiteboard-penwidth-thick,
#edit-whiteboard-penwidth-blunt,
#edit-whiteboard-black,
#edit-whiteboard-blue, 
#edit-whiteboard-red,
#edit-whiteboard-green,
#edit-whiteboard-eraser,
#edit-whiteboard-hex {
  vertical-align:bottom;
  margin-left:1.5em;
  border:none;
  padding:0;
}

#edit-whiteboard-bezier,
#edit-whiteboard-curve,
#edit-whiteboard-ellipse,
#edit-whiteboard-rectangle,
#edit-whiteboard-polyline,
#edit-whiteboard-polygon,
#edit-whiteboard-line,
#edit-whiteboard-closed-curve,
#edit-whiteboard-rectangle,
#edit-whiteboard-arc,
#edit-whiteboard-circle {
  vertical-align:middle;
  margin-right:30px;
  border:none;
}

#edit-whiteboard-bezier {
  background: url('../img/bezier.png');
}
#edit-whiteboard-curve {
  background: url('../img/curve.png');
}
#edit-whiteboard-ellipse {
  background: url('../img/ellipse.png');
}
#edit-whiteboard-rectangle {
  background: url('../img/rectangle.png');
}
#edit-whiteboard-polyline {
  background: url('../img/polyline.png');
}
#edit-whiteboard-polygon {
  background: url('../img/polygon.png');
}
#edit-whiteboard-line {
  background: url('../img/line.png');
}
#edit-whiteboard-closed-curve {
  background: url('../img/closed-curve.png');
}
#edit-whiteboard-arc {
  background: url('../img/arc.png');
}
#edit-whiteboard-circle {
  background: url('../img/circle.png');
}


#edit-whiteboard-penwidth-fine, #edit-whiteboard-black, #edit-whiteboard-eraser {
  margin-left:10px;
}

#whiteboard-color-container {
  display:none;
}

#edit-whiteboard-color-code {
  width:100px;
}

#edit-whiteboard-circle-radius,
#edit-whiteboard-ellipse-width,
#edit-whiteboard-ellipse-height,
#edit-whiteboard-arc-width,
#edit-whiteboard-arc-height,
#edit-whiteboard-arc-angle,
#edit-whiteboard-arc-length,
#edit-whiteboard-rectangle-width,
#edit-whiteboard-rectangle-height {
  width:25px;
}

#whiteboard-circle-container label,
#whiteboard-ellipse-container label,
#whiteboard-color-container label,
#whiteboard-arc-container label,
#whiteboard-rectangle-container label {
  font-weight:400;
  font-size:9px;
  margin-left:5px;
}

#edit-whiteboard-circle-cancel,
#edit-whiteboard-color-cancel,
#edit-whiteboard-ellipse-cancel,
#edit-whiteboard-rectangle-cancel,
#edit-whiteboard-arc-cancel {
  margin-left:10px;
}

#edit-whiteboard-hide-grid,
#edit-whiteboard-default {
  margin-bottom:15px;
}

#whiteboard-circle-container,
#whiteboard-ellipse-container,
#whiteboard-rectangle-container,
#whiteboard-arc-container,
#whiteboard-color-container {
  width:100%;
  margin-right:5px;
  margin-top:10px;
  margin-bottom:10px;
  clear:both;
}

#whiteboard-color-container form div,
#whiteboard-color-container form input,
#whiteboard-color-container form label {
  display:inline;
  margin-right:10px;
  margin-top:8px;
}

#whiteboard-status {
  padding:10px 5px 10px 15px;
  clear:both;
  margin-top:8px;
  margin-bottom:10px;
  border: solid 1px pink;
  clear:both;
  width:70%;
  margin-top:8px;
}

#whiteboard-side {
  float:left;
  width:30px;
  padding-left:10px;
  display:inline;
}


#whiteboard-bottom-container {
  clear:both;
  width:100%;
}

.page-node-edit.node-type-whiteboard .filter-wrapper,.page-node-add-whiteboard .filter-wrapper {
  border-top:1px solid #ccc;
}
